.dashboard-page{
    display:flex;
    gap:30px;
    justify-content:center;
    padding:40px;
    background:#ffffff;
    font-family:Inter,sans-serif;
}

.dashboard-card{
    width:520px;
    background:#F6F3FB;
    border-radius:20px;
    padding:28px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.card-header h2{
    margin:0;
    font-size:34px;
    font-weight:700;
    color:#1B1B1B;
}

.card-header span{
    color:#8B5CF6;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}

.activity-list{
    list-style:none;
    padding:0;
    margin:0;
}

.activity-list li{
    display:flex;
    align-items:center;
    margin-bottom:28px;
}

.dot{
    width:10px;
    height:10px;
    background:#8B5CF6;
    border-radius:50%;
    margin-right:18px;
}

.activity-list p{
    flex:1;
    margin:0;
    color:#2B2B2B;
    font-size:18px;
}

.activity-list small{
    color:#8F8F8F;
    font-size:16px;
}

.approval{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.approval-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.approval-item p{
    margin:0;
    font-size:18px;
    color:#2B2B2B;
}

.approval-item button{
    border:none;
    background:#EFE7FB;
    color:#8B5CF6;
    padding:10px 22px;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
}