.activityCard{

background:#fff;

border-radius:22px;

padding:28px;

box-shadow:0 12px 30px rgba(0,0,0,.05);

height:100%;

}

.activityHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:28px;

}

.activityHeader h2{

font-size:24px;

font-weight:700;

margin:0;

color:#202124;

}

.activityHeader span{

font-size:15px;

font-weight:600;

color:#7A1FF5;

cursor:pointer;

}

.activityList{

display:flex;

flex-direction:column;

gap:22px;

}

.activityItem{

display:flex;

align-items:center;

gap:18px;

}

.activityItem img{

width:48px;

height:48px;

object-fit:contain;

}

.activityText{

display:flex;

flex-direction:column;

}

.activityText h4{

margin:0;

font-size:16px;

font-weight:600;

color:#232323;

}

.activityText p{

margin-top:6px;

font-size:14px;

color:#8C95A1;

}