.placementChartContainer {
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
}


.placementChartHeader {
  margin-bottom: 30px;
}


.placementChartHeader h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #111827;
}


.placementChartHeader p {
  margin-top: 8px;
  font-size: 15px;
  color: #6b7280;
}


.placementChartBars {
  height: 250px;
  display: flex;
  align-items: flex-end;
  gap: 35px;
}


.placementChartBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.placementChartBar {
  width: 38px;
  background: #dbeafe;
  border-radius: 8px 8px 0 0;
}


.placementChartBarActive {
  background: rgb(141, 49, 194)
}


.placementChartBarWrapper span {
  font-size: 13px;
  color: #6b7280;
}