.adminUserTableContainer {
  width: 100%;
  background: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 3px 12px rgba(0,0,0,.08);
  overflow-x: auto;
}

.adminUserTable {
  width: 100%;
  border-collapse: collapse;
}

.adminUserTable th,
.adminUserTable td {
  padding: 14px;
  text-align: left;
}

.adminUserInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adminUserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}