.adminSidebar {
  width: 290px;
  min-width: 290px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f8ecff 15%,
    #f2d9ff 55%,
    #d88cf8 100%
  );
  border-right: 5px solid #6f1dff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.adminSidebarLogo {
  height: 105px;
  background: #ffffff;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
}

.adminSidebarMenu {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.adminSidebarItem {
  width: 260px;
  height: 64px;
  margin-left: 28px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 28px;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.adminSidebarItem:hover {
  background: rgba(111, 29, 255, 0.08);
}

.adminSidebar {
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f8ecff 15%,
    #f2d9ff 55%,
    #d88cf8 100%
  );
  border-right: 5px solid #6f1dff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.adminSidebarLogo {
  height: 105px;
  background: #ffffff;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
}

.adminSidebarMenu {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.adminSidebarItem {
  width: 260px;
  height: 64px;
  margin-left: 28px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0 18px;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.adminSidebarItem:hover {
  background: rgba(111, 29, 255, 0.08);
}

.adminSidebarActive{
    width:260px;
    height:64px;

    margin-left:28px;

    display:flex;
    align-items:center;
    gap:18px;

    padding-left:22px;

    background:linear-gradient(
        90deg,
        #7600D8 0%,
        #8F00FF 100%
    );

    border-radius:40px;

    box-sizing:border-box;
}

.adminSidebarIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}

.adminSidebarText {
  font-size: 15px;
  font-weight: 450;
  color: #111111;
  white-space: nowrap;
  line-height: 24px;
}

.adminSidebarActive .adminSidebarText{
    color:#FF2AEF;
    font-size:18px;
    font-weight:500;
}

.adminSidebarActive .adminSidebarIcon{
    width:30px;
    height:30px;
    filter:none;
}

.adminSidebarIcon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  flex-shrink: 0;
}

.adminSidebarText {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  white-space: nowrap;
  line-height: 1;
}

.adminSidebarActive .adminSidebarText {
  color: #ff2cff;
}

.adminSidebarActive .adminSidebarIcon {
  filter: none;
}