.adminDashboardContainer{
    display:flex;
    width:1440px;
    height:900px;

    margin:20px auto;

    background:#F5F7FC;

    border-radius:24px;

    overflow:hidden;

    box-shadow:0 10px 40px rgba(0,0,0,.08);
}

.dashboardLayoutMiddle {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.dashboardLayoutMiddle > :first-child {
  flex: 2;
}

.dashboardLayoutMiddle > :last-child {
  flex: 1;
}

@media (max-width: 1000px) {
  .dashboardLayoutMiddle {
    flex-direction: column;
  }
}