.LandingPage-intro-container {
  width: 100%;
}

.LandingPage-intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 80px 90px;
  gap: 20px;
  background: 
  radial-gradient(circle at 10% 10%, #cda5e3 0%, transparent 40%),
  radial-gradient(circle at 90% 80%, #F6EDFA 0%, transparent 50%),
  linear-gradient(135deg, #FFFDFD 0%, #FAF6FB 50%, #FAF5FC 100%);
}

.LandingPage-main-content {
  /* max-width: 540px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.LandingPage-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #F5EAFA;
  border: 1px solid #EAD8F3;
  padding: 4px 12px;
  border-radius: 100px;
  color: #7700F5;
  font-size: 10px;
  font-weight: 800;
  /* margin-left: 200px; */
  letter-spacing: 0.05em;
}

.LandingPage-badge-dot {
  width: 6px;
  height: 6px;
  background-color: #7700F5;
  border-radius: 50%;
}

.LandingPage-intro-title {
  color: #8037B0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 1.5rem 0 1rem 0;
  letter-spacing: -0.02em;
text-align: center;
}

.LandingPage-intro-description {
  color: #716f6f;
  font-size: 16px;;
  line-height: 1.6;
  /* margin-left: 20px; */
  margin-bottom: 2rem;
}

.LandingPage-profile-container {
  display: flex;
  flex-direction: column;
}

.LandingPage-profile {
  display: flex;
  justify-content: center;
  /* margin-left: 250px; */
  margin-top: 16px;
}

.LandingPage-profiles-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #CB80FC;
}
.LandingPage-profiles-img +.LandingPage-profiles-img-secondary {
  margin-left: -15px; 
}
.LandingPage-profiles-img-secondary {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  background-color: #caa7e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.LandingPage-profile-text {
  color: #64748B;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.LandingPage-intro-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.LandingPage-intro-image {
  width: 100%;
  max-width: 580px;
  margin-left: 4rem;
}
.LandingPage-profiles-count {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #EAD8F3; 
  color: #8E33E4;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff;
  margin-left: -15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.LandingPage-Partner-sources {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #f1f5f954;
}

.LandingPage-Partner-sources-text {
  color: #85878a;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-top: 30px;
}

.LandingPage-logos-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 90px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}


.LandingPage-Partner-logos-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 1100px;
}

.LandingPage-Partner-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.LandingPage-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.LandingPage-logo-img {
  width: 100%;
  max-width: 90px;
  height: auto;
  object-fit: contain;
  transition: all 0.5s ease-in-out; 
  padding: 10px;
}
.LandingPage-logo-img img{
  width: 60px;
}

.LandingPage-rightarrow-icon {
  height: 30px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
  user-select: none;
}

.LandingPage-arrow-icon {
  height: 28px;
  width: 28px;
  object-fit: contain;
  cursor: pointer;
}

.LandingPage-features-container {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.LandingPage-features-header {
  text-align: center;
  margin-bottom: 70px;
}

.LandingPage-features-title {
  color: #8037B0; 
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.LandingPage-features-subtitle {
  color: #54709c; 
  font-size: 18px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.6;
}

.LandingPage-features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.LandingPage-features-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 35px;
  margin-right: 35px;
}

.LandingPage-card-icon-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.LandingPage-card-icon {
  width: 58px;
  height: 58px;
  object-fit: contain;
}

.LandingPage-card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.LandingPage-arrow-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-left: 8px;
  margin-top: 4px;
}

.LandingPage-purple-text {
  color: #7c3aed;
}

.LandingPage-pink-text {
  color: #db2777; 
}

.LandingPage-card-description {
  color: #475569;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 24px;
  min-height: 72px; 
}

.LandingPage-card-features {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
  width: 100%;
}

.LandingPage-card-points {
  display: flex;
  align-items: center;
  gap: 12px;
}

.LandingPage-feature-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.LandingPage-feature-text {
  color: #1e293b;
  font-size: 0.95rem;
  font-weight: 500;
}

.LandingPage-card-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.LandingPage-datas-container{
  width:85%;
  margin:10px auto;
  padding:40px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border-radius:40px;
  background:linear-gradient(30deg,#A54AF6,#8037B0,#7700F5);
  color:#fff;
}

.LandingPage-datas{
  text-align:center;
}

.LandingPage-datas h2{
  font-size:40px;
  font-weight:700;
}

.LandingPage-datas p{
  margin-top:16px;
  font-size:16px;
}

.LandingPage-datas span{
  display:block;
  width:45px;
  height:4px;
  margin:20px auto 0;
  background:#d8b4fe;
  border-radius:20px;
}

.LandingPage-review-container{
  width:85%;
  margin:90px auto;
}

.LandingPage-review-header{
  text-align:center;
  margin-bottom:70px;
}

.LandingPage-review-tag{
  color: #8037B0;
  font-size:13px;
  font-weight:700;
  letter-spacing:2px;
  margin-bottom:10px;
}

.LandingPage-review-title{
  color: #8037B0;
  font-size:36px;
  font-weight:500;
}

.LandingPage-review-wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
width: 100%;
}

.LandingPage-review-card{
  /* flex:1;
  margin:0 40px; */
  max-width: 584px;
  padding:40px;
  border:1px solid #9c9c9c45;
  border-radius: 12px;
  box-sizing: border-box;
}

.LandingPage-review-content{
  display:flex;
  gap:18px;
  margin-bottom:25px;
  width: 100%;
}

.LandingPage-profile-image{
  width:70px;
  height:70px;
}

.LandingPage-stars-image{
  width:200px;
}

.LandingPage-review-user h4{
  color: #8037B0;
  margin:4px 0;
  font-size: 20px;
}

.LandingPage-review-user p{
  color:#4D5A81;
  margin: 0;
  font-size: 12px;
}

.LandingPage-quotes-image{
  width:99.16px;
  height: 70px;
}

.LandingPage-review-text{
  color:#202d51b7;
  line-height: 29.25px;
  font-style:italic;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  width: 100%;

}

.LandingPage-cta-container{
  width:85%;
  margin:90px auto;
  padding:10px 20px 50px;
  border-radius:40px;
  background:linear-gradient(30deg,#8B5CF6,#A855F7,#7A00FF);
  text-align:center;
  color:#fff;
  box-shadow:0 18px 35px rgba(124,58,237,.25);
}

.LandingPage-cta-container h2{
  font-size:50px;
  font-weight:500;
  margin-bottom:18px;
}

.LandingPage-cta-container p{
  width:50%;
  margin:auto;
}

.LandingPage-cta-buttons{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

.LandingPage-cta-find-btn{
  border:none;
  padding:16px 48px;
  border-radius:40px;
  background:#fff;
  color:#7C3AED;
  font-weight:600;
  cursor:pointer;
}

.LandingPage-cta-hire-btn{
  border:none;
  padding:16px 48px;
  border-radius:40px;
  background:#6D28D9;
  color:#fff;
  font-weight:600;
  cursor:pointer;
}


@media screen and (max-width: 1024px) {
  .LandingPage-intro-section {
    padding: 60px 40px;
    gap: 40px;
  }

  .LandingPage-intro-title {
    font-size: 2.5rem;
  }

  .LandingPage-intro-image {
    margin-left: 0;
    max-width: 100%;
  }

  .LandingPage-features-grid {
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
  }

  .LandingPage-features-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .LandingPage-review-wrapper {
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    align-items: stretch;
  }

  .LandingPage-review-card {
    max-width: 100%;
    width: 100%;
    padding: 24px;
  }

  .LandingPage-cta-container p {
    width: 80px; 
    width: 80%;
  }
  .LandingPage-review-content {
    width: 100%;
    gap: 12px;
  }

 
  .LandingPage-stars-image {
    width: 100%;
    max-width: 120px; 
    height: auto;
    object-fit: contain;
  }

  .LandingPage-review-user {
    flex: 1;
    min-width: 0; 
  }

  .LandingPage-review-user h4 {
    font-size: 16px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .LandingPage-review-user p {
    font-size: 11px;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .LandingPage-quotes-image {
    width: 60px; 
    height: auto;
  }

  .LandingPage-review-text {
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
  }
}


@media screen and (max-width: 768px) {
  .LandingPage-intro-section {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    text-align: center;
  }

  .LandingPage-main-content {
    align-items: center;
  }

  .LandingPage-intro-title {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .LandingPage-intro-text, 
  .LandingPage-intro-description {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .LandingPage-intro-image-wrapper {
    width: 100%;
    order: -1;
  }

  .LandingPage-intro-image {
    margin-left: 0;
    max-width: 80%;
  }

  /* Partner Logos */
  .LandingPage-logos-slider {
    padding: 20px;
    flex-wrap: wrap;
  }

  .LandingPage-Partner-logos {
    flex-wrap: wrap;
    gap: 15px;
  }

  .LandingPage-logo-container {
    min-width: 120px;
  }

  .LandingPage-features-container {
    padding: 40px 20px;
    
  }

  .LandingPage-features-title {
    font-size: 1.8rem;
  }

 .LandingPage-features-grid {
    grid-template-columns: 1fr; 
    justify-items: center;    
    gap: 30px;
  }

  .LandingPage-features-card {
    align-items: center;       
    text-align: center;        
    margin-left: 0;            
    margin-right: 0;
    max-width: 340px;          
    width: 100%;
  }

  .LandingPage-card-features {
    align-items: center;      
  }


  .LandingPage-datas-container {
    width: 90%;
    flex-direction: column;
    padding: 30px 10px;
    gap: 30px;
    border-radius: 24px;
  }
   .LandingPage-review-wrapper {
    grid-template-columns: 1fr; 
    gap: 24px;
    align-items: stretch;
  }

  .LandingPage-datas h2 {
    font-size: 32px;
  }

  .LandingPage-datas span {
    margin: 10px auto 0;
  }

  .LandingPage-review-container {
    width: 90%;
    margin: 50px auto;
  }

  .LandingPage-review-title {
    font-size: 26px;
  }

  .LandingPage-review-card {
    padding: 20px;
  }

  .LandingPage-review-content {
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    max-width: 100%;
  }

  .LandingPage-quotes-image {
    display: none;
  }

  .LandingPage-review-text {
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
  }

  .LandingPage-cta-container {
    width: 90%;
    margin: 60px auto;
    padding: 30px 20px;
    border-radius: 24px;
  }

  .LandingPage-cta-container h2 {
    font-size: 28px;
  }

  .LandingPage-cta-container p {
    width: 100%;
    font-size: 14px;
  }

  .LandingPage-cta-buttons {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 280px;
    margin: 30px auto 0;
  }

  .LandingPage-cta-find-btn,
  .LandingPage-cta-hire-btn {
    width: 100%;
    padding: 14px 20px;
  }
}